<body>
  

  <nav class="navbar navbar-expand-sm">
    <div class="logo">
        <img src="/assets/also-tm-green.png" 
        style="height: 100px;
        width: 171px;">
    </div>

    <div class="navlist">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"  >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item dropdown dmenu">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Pages
        </a>
        
        <div class="dropdown-menu sm-menu ">
          <a class="dropdown-item" [routerLink]="['/services']">service2</a>
          <a class="dropdown-item" href="#">service 2</a>
          <a class="dropdown-item" href="#">service 3</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: green">Contact</a>
      </li>
       <!-- <li class="nav-item dropdown dmenu">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Dropdown link
        </a>
        <div class="dropdown-menu sm-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
          <a class="dropdown-item" href="#">Link 4</a>
          <a class="dropdown-item" href="#">Link 5</a>
          <a class="dropdown-item" href="#">Link 6</a>
        </div>
      </li> -->
      </ul>
    
    </div>

</div>
  

<div class="contact-part">
  <div class="row">
    <div class="col">
      <img src="https://img.icons8.com/office/16/000000/phone.png" height="30px" width="30px" alt="">
    </div>
    <div class="col phonenumber">    
      <p>(+62)81 238 1991</p>
    </div>
  </div>
  </div>
   

  </nav>


<br><br><br><br><br><br>

  <div class="container" >
    <div class="row">
      <div class="col-6">
        <div class="takeimg" style="background-image: url('/assets/takeorderback.png')">
          <img src="/assets/deliverd.png" style="height: 550px;width: 500px;margin-right: 100px;
          margin-top: -75px;" alt="">
        </div>
      </div>
      <div class="col-6 aboucntnt">
        <h1>Story About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupidatat</p>


        <br>
        <br>


        <div class="container">
          <div class="row">
            <div class="col card">
             <h2>Our Vision</h2>
             <p>Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt</p>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col card">
             <h2>Our Mission</h2>
             <p>Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt</p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <br><br><br>



  <br><br>
   <!-- body card  -->
<div class="container">
  <div class="row">
    <div class="box"> 
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> 
     <div class="box-part text-center"> 
      <span class="cardlogo">
     <img src="/assets/fast-delivery.gif"  height="40px" width="40px" alt="">  
      </span>     

       <div class="title">
         <h2>Become A Driver</h2>
       </div>           
       <div class="text">
         <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
       </div>         
       <a href="#">Start Eating</a>
                   
      </div>
   </div>	 
   
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">  
     <div class="box-part text-center">
      <img src="/assets/android.png"  height="40px" width="40px" alt="">     
       <div class="title">
         <h2>Become A Partner</h2>
       </div>
                   
       <div class="text">
         <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
       </div>
                   
       <a href="#">Sign Up Your Merchant</a>
                   
      </div>
   </div>	 
   
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
     <div class="box-part text-center">
      <img src="/assets/technical-support.png"  height="40px" width="40px" alt=""> 
       <div class="title">
         <h2>Try The App</h2>
       </div>      
       <div class="text">
         <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
       </div>
       <a href="#">Get The App</a>
                   
      </div>
   </div>	 
   </div>
</div>		
</div>
<br><br><br>

           <!-- .... OurTestimonial.... -->
    
   <div class="OurTestimonial">
       <p>Our Testimonial</p>
       <h1>What Our Client Says</h1>
   </div>

<br><br>

<div class="testimonialslider">
  <section class="testimonial text-center">
    <div class="container">

        
        <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
         
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="testimonial4_slide">
                        <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <h4>Client 1</h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" /><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <h4>Client 2</h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <h4>Client 3</h4>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>

</div>

<br><br>

<!-- .... mobile app .... -->

<div class="MobileApp">
  <span class="iphoneimg">
    <img src="/assets/iphone.png" 
    style="height: 600px;width: 450px;">
  </span>
  
  <div class="DeliciousFood">
      <h1>Make The Delicious Food and </h1>
      <h1>Order Our App</h1>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
      <p>tempor incididuntut labore dolore magna aliqua. Ut enim ad minim</p>
      <p>  veniam, quis nostrud exercitation ullamco</p>
     
    <div class="maindiv">
     <div class="icons">
            <p>01</p> 
     </div>
     <div class="contnet">
      <h3>Follow Delivery Status</h3>
   
     </div>
    </div>
    <div class="maindiv">
      <div class="icons">
             <p>02</p> 
      </div>
      <div class="contnet">
       <h3>Order From Any Location</h3>
    
      </div>
     </div>
     <div class="maindiv">
      <div class="icons">
             <p>03</p> 
      </div>
      <div class="contnet">
       <h3>Get Important Notices</h3>
      </div>
     </div>
  
  
     <div class="downloadstore">
          <div class="appstore">
        <button class="btn btn-outline-dark btn-icon-text">
        <i class="fa fa-apple btn-icon-prepend mdi-36px"></i>
            <span class="d-inline-block text-left">
              <small class="font-weight-light d-block" id="content"> <p> Available on the</p>
              <h3>App Store</h3>
            </small>
                </span>
              </button>
          </div>  
          &nbsp;&nbsp;&nbsp;
          <div class="playstore">
            <button class="btn btn-outline-dark btn-icon-text">
              <i class="fa fa-android btn-icon-prepend mdi-36px"></i>
              <span class="d-inline-block text-left">
                <small class="font-weight-light d-block" id="content">
                   <p>Get it on the</p>
               <h3> Google Play</h3>
              </small>
              </span>
            </button>
          </div>
     </div>
  </div>
  
  
  </div>

<!-- footer  -->

<section id="footer">
  <div class="footer fcontainer" style="padding: 40px;">  

    <div class="footer-content">
      <div class="footer-logo">
        <img src="/assets/also-tm-green.png" 
        style="height: 83px;width: 150px;">
      </div>
      <div class="footer-logo footer-logo2">
        <h5 style="color: #13A549; font-size: 25px;">Quick Links</h5>
      </div>
       <div class="footer-logo footer-logo2">
        <h5 style="color: #13A549; font-size: 25px;">Useful Links</h5>
      </div>
    
    </div>

    <div class="item-data">
      <div class="body-data1">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae officia nihil in sapiente delectus!</p>
        </div>
      
        <span>
          <p>
            <img src="https://img.icons8.com/nolan/50/marker.png"style="height: 30px;width: 30px;">
            Jl. Oberoi X 69, Kuta - 80234</p>
        </span>
        <span>
          <p>
            <img src="https://img.icons8.com/external-febrian-hidayat-gradient-febrian-hidayat/64/000000/external-telephone-ui-essential-febrian-hidayat-gradient-febrian-hidayat.png" 
            style="height: 30px;
            width: 30px;">
            (+62)81 238 1991</p>
        </span>


      </div>

      <div class="body-data2" >
        <li><a href="#">About Us</a></li>
        <li><a href="#">Become A partner</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </div>


      <div class="body-data2">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Become A partner</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </div>

 
    </div>
  
    <hr style="margin-bottom: 10px;">

    <br>
    <div class="body-footer">
      <h5>
          Copyright © Deliverra 2021. All rights reserved.
      </h5>
      
      <div class="footer-social">
          <img src="https://img.icons8.com/ios/50/000000/facebook-new.png" />
          <img src="https://img.icons8.com/ios/50/000000/twitter-circled--v1.png" />
          <img src="https://img.icons8.com/ios/50/000000/linkedin-circled--v1.png" />
          <img src="https://img.icons8.com/ios/50/000000/pinterest--v1.png" />
        </div>
    </div>

  </div>
</section>

</body>


