<body>

  <nav class="navbar navbar-expand-sm">
    <div class="logo">
      <img src="/assets/also-tm-green.png" style="height: 100px;width: 100px;">
    </div>

    <div class="navlist">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item dropdown dmenu">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Pages
            </a>

            <!-- <div class="dropdown-menu sm-menu ">
          <a class="dropdown-item" href="#">service2</a>
          <a class="dropdown-item" href="#">service 2</a>
          <a class="dropdown-item" href="#">service 3</a>
        </div> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: green">Contact</a>
          </li>
          <!-- <li class="nav-item dropdown dmenu">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Dropdown link
        </a>
        <div class="dropdown-menu sm-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
          <a class="dropdown-item" href="#">Link 4</a>
          <a class="dropdown-item" href="#">Link 5</a>
          <a class="dropdown-item" href="#">Link 6</a>
        </div>
      </li> -->
        </ul>

      </div>

    </div>


    <div class="contact-part">
      <div class="row">
        <!-- <div class="col">
      <img src="https://img.icons8.com/office/16/000000/phone.png" height="30px" width="30px" alt="">
    </div> -->
        <div class="col phonenumber">
          <p>(+62)81 238 1991</p>
        </div>
      </div>
    </div>

  </nav>


  <div class="mainform " style="margin-top: 100px">
    <div class="container">
      <div class="row">
        <div class="col-sm mainform" style="padding-right: 50px;">
          <div class="maincontent">

            <p>Contact Us</p>
            <h1>Get In Touch</h1>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </h4>
            <h4> magna aliqua Ut enim ad minim veniam, quis nostrud</h4>
            <h4>sed do eiusmod tempor incididunt ut labore et dolore</h4>
          </div>           
          <br><br><br>  
          <div class="mainDetails" style="margin-left: -15px">

            <div class="container kuta">
              <div class="row">
                <div class="col kutaimages">
                  <img src="https://img.icons8.com/plasticine/100/000000/company.png" height="50px" width="50px" alt="">
                  <span class="kutacintnt">kuta</span>
                  <div class="col kutextracnt">Jl. Oberoi X 69, Kuta - 80234</div>
                </div>


                <div class="col kutaimages">
                  <img src="https://img.icons8.com/officel/100/000000/city-buildings.png" height="50px" width="50px"
                    alt="">
                  <span class="kutacintnt">Denpasar</span>
                  <div class="col kutextracnt">Jl. Niti Mandala, Renon, Bali – 80225</div>
                </div>
              </div>
            </div>

            <br><br>
            <div class="container">
              <div class="row">
                <div class="col kutaimages">
                  <img src="https://img.icons8.com/office/16/000000/phone.png" height="50px" width="50px" alt="">
                  <span class="kutacintnt">Call Us</span>
                  <div class="col kutextracnt">(+62)81 238 1991</div>
                </div>

                <div class="col kutaimages">
                  <img src="https://img.icons8.com/doodle/48/000000/apple-mail.png" height="50px" width="50px" alt="">
                  <span class="kutacintnt">Email Address</span>
                  <div class="col kutextracnt">support@domain.com</div>
                </div>
              </div>

            </div>

          </div>
        </div>
        <div class="col-sm card contact_form">

          <form>
            <nz-form-item>

              <nz-form-control [nzSpan]="24" nzErrorTip="your name">
                <input type="text" style="height: 45px; border-radius: 5px;" nz-input formControlName="name"
                  placeholder=" your name" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>

              <nz-form-control [nzSpan]="24" nzErrorTip=" your mail">
                <input type="mail" style="height: 45px; border-radius: 5px;" nz-input formControlName="mail"
                  placeholder="your mail" />
              </nz-form-control>

            </nz-form-item>


            <nz-form-item>

              <nz-form-control [nzSpan]="24" nzErrorTip="Please input your subject">
                <input type="text" style="height: 45px; border-radius: 5px;" nz-input formControlName="subject"
                  placeholder="your subject" />
              </nz-form-control>

            </nz-form-item>

            <nz-form-item>


              <nz-form-item>
                <nz-form-control>
                  <nz-textarea-count [nzMaxCharacterCount]="100">
                    <textarea rows="5" cols="70" formControlName="comment" nz-input></textarea>
                  </nz-textarea-count>
                </nz-form-control>
              </nz-form-item>


            </nz-form-item>
            <div class="social-part">
              <button type="button" class="btn btn-success" style="height: 55px;width: 170px;
            border-radius: 28px;background-color: rgb(28 118 28);">
                <p>Send Messages</p>
              </button>
            </div>
          </form>
        </div>



        <br><br><br><br>
      </div>
    </div>

  </div>

  <br><br><br><br><br><br><br>


  <!-- footer  -->

  <section id="footer">
    <div class="footer fcontainer" style="padding: 40px;">

      <div class="footer-content">
        <div class="footer-logo">
          <img src="/assets/also-tm-green.png" style="height: 100px;width: 100px;">
        </div>
        <div class="footer-logo footer-logo2">
          <h5 style="color: #13A549; font-size: 25px;">Quick Links</h5>
        </div>
        <div class="footer-logo footer-logo2">
          <h5 style="color: #13A549; font-size: 25px;">Useful Links</h5>
        </div>

      </div>

      <div class="item-data">
        <div class="body-data1">
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae officia nihil in sapiente delectus!
            </p>
          </div>

          <span>
            <p>
              <img src="https://img.icons8.com/nolan/50/marker.png" style="height: 30px;width: 30px;">
              Jl. Oberoi X 69, Kuta - 80234
            </p>
          </span>
          <span>
            <p>
              <img
                src="https://img.icons8.com/external-febrian-hidayat-gradient-febrian-hidayat/64/000000/external-telephone-ui-essential-febrian-hidayat-gradient-febrian-hidayat.png"
                style="height: 30px;
            width: 30px;">
              (+62)81 238 1991
            </p>
          </span>


        </div>

        <div class="body-data2">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Become A partner</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </div>


        <div class="body-data2">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms And Conditions</a></li>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">FAQ</a></li>
        </div>


      </div>

      <hr style="margin-bottom: 10px;">

      <br>
      <div class="body-footer">
        <h5>
          Copyright © Deliverra 2021. All rights reserved.
        </h5>

        <div class="footer-social">
          <img src="https://img.icons8.com/ios/50/000000/facebook-new.png" />
          <img src="https://img.icons8.com/ios/50/000000/twitter-circled--v1.png" />
          <img src="https://img.icons8.com/ios/50/000000/linkedin-circled--v1.png" />
          <img src="https://img.icons8.com/ios/50/000000/pinterest--v1.png" />
        </div>
      </div>

    </div>
  </section>




</body>