<body>
    <nav class="navbar navbar-expand-sm">
        <div class="logo">
            <img src="/assets/also-tm-green.png" 
            style="height: 100px;
            width: 171px;">
        </div>
    
        <div class="navlist">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#"  >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item dropdown dmenu">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Pages
            </a>
            
            <div class="dropdown-menu sm-menu ">
              <a class="dropdown-item" href="#">service2</a>
              <a class="dropdown-item" href="#">service 2</a>
              <a class="dropdown-item" href="#">service 3</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: green">Contact</a>
          </li>
           <!-- <li class="nav-item dropdown dmenu">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Dropdown link
            </a>
            <div class="dropdown-menu sm-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
              <a class="dropdown-item" href="#">Link 4</a>
              <a class="dropdown-item" href="#">Link 5</a>
              <a class="dropdown-item" href="#">Link 6</a>
            </div>
          </li> -->
          </ul>
        
        </div>
    
    </div>
      
    
    <div class="contact-part">
      <div class="row">
        <div class="col">
          <img src="https://img.icons8.com/office/16/000000/phone.png" height="30px" width="30px" alt="">
        </div>
        <div class="col phonenumber">    
          <p>(+62)81 238 1991</p>
        </div>
      </div>
      </div>
       
    
      </nav>
      <br><br><br>
  

      <div class="container">
        <div class="centercntnt">
         <p>Our Services</p>
         <h1>What We Offer</h1>
        </div>
      </div>

      <br><br><br>  <br><br><br>

           

    <!-- body card  -->
<div class="container">
    <div class="row">
     <div class="box">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> 
      <div class="box-part text-center"> 
       <span class="cardlogo">
      <img src="/assets/fast-delivery.gif"  height="40px" width="40px" alt="">  
       </span>     
    
        <div class="title">
          <h2>Food Delivery</h2>
        </div>           
        <div class="text">
          <p> Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</p>  
        </div>         
        <a href="#">Read More</a>
                    
       </div>
    </div>	 
    
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">  
      <div class="box-part text-center">
       <img src="/assets/android.png"  height="40px" width="40px" alt="">     
        <div class="title">
          <h2>Grocery Delivery</h2>
        </div>
                    
        <div class="text">
            <p> Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</p>
        </div>
                    
        <a href="#">Read More</a>
                    
       </div>
    </div>	 
    
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="box-part text-center">
       <img src="/assets/technical-support.png"  height="40px" width="40px" alt=""> 
        <div class="title">
          <h2>Drive In Restaurant</h2>
        </div>      
        <div class="text">
            <p> Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</p>
        </div>
        <a href="#">Read More</a>
                    
       </div>
    </div>	 
    </div>
    </div>		
    </div>
    <br><br><br>  <br><br><br> <br><br><br><br><br><br><br><br><br>




    <div class="takeorder" >
        <div class="takecontnt">
           <h1>Sit at Home We Will Take</h1>
           <h1> Care Your Order</h1>
           <br>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitdgfdhfdfdfksfdf</p>
            <p> labore et dolore magna aliqua. Ut enim ad minim exercitation ullamco</p>
           <p> laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor</p>
           <p>sed do eiusmodveniam, quis nostrud </p>
      
      <br>
           <span class="takeordernow">
            <button type="button" class="btn btn-success"  style="height: 40px;
            width: 127px ;
            border-radius: 20px; background-color: #13A549;"> <p> Order Now</p> </button>
          </span>
        </div>
      
        
      
        <div class="takeimg" style="background-image: url('/assets/takeorderback.png')">
          <img src="/assets/deliverd.png" style="height: 550px;
          width: 500px;
          margin-right: 100px;
          margin-top: -75px;" alt="">
        </div>
      
      </div>
      
      <div class="getstarted">
      
        <div class="allsetcntnt">
        <div class="startedcntnt">
          <h1>Free Unlimited Delivery For 14 Days</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
          <p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
          <p>quisnostrud exercitation ullamco</p>
        </div>
      
          <div class="getstartorder">
              <button type="button" class="btn btn-success"  style="height: 40px;
              width: 127px ;
              border-radius: 20px; background-color: #13A549;"> <p>Get Started</p> </button>
          </div>
        </div>
      
          </div>
      
      <br><br><br><br>

<!-- footer  -->

<section id="footer">
    <div class="footer fcontainer" style="padding: 40px;">  
  
      <div class="footer-content">
        <div class="footer-logo">
          <img src="/assets/also-tm-green.png" 
          style="height: 83px;width: 150px;">
        </div>
        <div class="footer-logo footer-logo2">
          <h5 style="color: #13A549; font-size: 25px;">Quick Links</h5>
        </div>
         <div class="footer-logo footer-logo2">
          <h5 style="color: #13A549; font-size: 25px;">Useful Links</h5>
        </div>
      
      </div>
  
      <div class="item-data">
        <div class="body-data1">
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae officia nihil in sapiente delectus!</p>
          </div>
        
          <span>
            <p>
              <img src="https://img.icons8.com/nolan/50/marker.png"style="height: 30px;width: 30px;">
              Jl. Oberoi X 69, Kuta - 80234</p>
          </span>
          <span>
            <p>
              <img src="https://img.icons8.com/external-febrian-hidayat-gradient-febrian-hidayat/64/000000/external-telephone-ui-essential-febrian-hidayat-gradient-febrian-hidayat.png" 
              style="height: 30px;
              width: 30px;">
              (+62)81 238 1991</p>
          </span>
  
  
        </div>
  
        <div class="body-data2" >
          <li><a href="#">About Us</a></li>
          <li><a href="#">Become A partner</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </div>
  
  
        <div class="body-data2">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Become A partner</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </div>
  
   
      </div>
    
      <hr style="margin-bottom: 10px;">
  
      <br>
      <div class="body-footer">
        <h5>
            Copyright © Deliverra 2021. All rights reserved.
        </h5>
        
        <div class="footer-social">
            <img src="https://img.icons8.com/ios/50/000000/facebook-new.png" />
            <img src="https://img.icons8.com/ios/50/000000/twitter-circled--v1.png" />
            <img src="https://img.icons8.com/ios/50/000000/linkedin-circled--v1.png" />
            <img src="https://img.icons8.com/ios/50/000000/pinterest--v1.png" />
          </div>
      </div>
  
    </div>
  </section>

</body>


